* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_color: #fff;
  --secondary_color: #000;
  --btnbgcolor: #fc873f;
  --mobilefont: 0.7rem;
  --greyshade: #f1f0e9;
  --greyshadeborder: #7d7d7d;
}
html {
  scroll-behavior: smooth;
}
body {
  /* font-family: "Poppins", sans-serif; */
  font-weight: 400;
  font-family: "Montserrat", ubuntu;
}

/* utility classes */
a {
  list-style: none;
  text-decoration: none;
  border: none;
  color: var(--primary_color);
  display: inline-block;
  font-size: 0.9rem;
}
.btn_large {
  text-decoration: none;
  /* padding: 0.6rem 2rem; */
  padding: 15px 20px;
  /* min-width: 220px; */
  /* min-height: 50px; */
  color: var(--primary_color);
  vertical-align: middle;
  background-color: var(--btnbgcolor);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}
.btn_large:hover,
.btn_small:hover {
  transition: background-color 1s;
  cursor: pointer;
  /* opacity: 0.8; */
  background-color: #f17022;
}

.btn_small {
  text-decoration: none;
  /* padding: 0.6rem 2rem; */
  padding: 15px 20px;
  /* min-height: 50px; */
  /* min-width: 200px; */
  color: var(--primary_color);
  vertical-align: middle;
  background-color: var(--btnbgcolor);
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid var(--btnbgcolor); */
  font-size: 1em;
  /* border: 1px solid var(--btnbgcolor); */
}

span {
  font-size: 2rem;
  font-weight: 300;
}
.span_bold {
  font-weight: 600;
  font-size: 2rem;
}

/* UTILITY CLASSES CLOSED */

/* STYLING FOR HERO PAGE SECTION */

.hero_page {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url(../assets/images/seasship.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  /* border: 2px solid red; */
  padding: 0% 10%;
  height: 15%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.menubar {
  display: none;
}
.navbar_left {
  /* border: 2px solid red; */
  height: 80%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navbar_left img {
  /* border: 1px solid red; */
  height: 50%;
  width: 60%;
  object-fit: cover;
}
.navbar_middle {
  /* border: 2px solid red; */
  height: 80%;
  flex: 2;
  display: flex;
  align-items: center;
}
.navbar_middle ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  flex-wrap: wrap;
}
.navbar_middle ul a {
  font-size: 1rem;
  font-weight: 400;
}
.navbar_right {
  height: 80%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* STYLING FOR HERO CONTAINER */
/* utility class for hero container */

.padding_left {
  padding-left: 15%;
}
/* utility class for hero container closed */

.hero_container {
  height: 85%;
  color: var(--primary_color);
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}

.hero_container p {
  width: 65%;
  font-weight: 300;
  line-height: 1.5;
  padding: 1% 15% 1% 15%;
}
.hero_container h1 {
  width: 55%;
  font-size: 3em;
  line-height: 1.1;
  font-weight: 500;
  word-spacing: 0.1em;
}

.hero_btn_container {
  width: 45%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn_secondary {
  margin-left: 1rem;
  background: transparent;
}
.btn_secondary .btn_small {
  background: transparent;
  border: 1px solid #e9ebeb;
}
.btn_secondary .btn_small:hover {
  opacity: 0.8;
}

/* STYLING FOR CARDPAGE SECTION */

/* utility class for cardpage section */

.card_page_utility_padding {
  padding: 0rem 1rem;
}

/* utility class for cardpage section closed */

.card_page_container {
  /* border: 2px solid red; */
  padding: 2% 10%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/seawater.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.card_page_container_description_container {
  width: 60%;
  margin: 0rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--primary_color);
}
.card_page_container_description_container h2 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
}
.card_page_container_description_container p {
  font-size: 1rem;
  margin: 0.2em 0em;
}

.card_container {
  /* border: 2px solid red; */
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 3rem 0rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards {
  margin: 1% 0rem;
  /* max-width: 400px; */
  width: 32%;
  padding: 1rem 1rem 1rem 1rem;
  background-color: var(--primary_color);
  /* height: fit-content; */
  /* margin: 20px 20px 0px 0px; */
  min-height: 366px;
}

.cards p {
  font-size: 0.9rem;
  max-height: 54px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.image_container img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}
.cards h4 {
  text-align: center;
  padding: 1rem 0rem;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.04em;
}
.cards p {
  text-align: center;
  padding: 0rem 0rem 1rem 0rem;
}
.cards .btn_small {
  /* padding: 0.5rem 2rem; */
}
.card_btn {
  /* border: 2px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.card_btn .btn_small {
  /* border: 2px solid red; */
  min-width: 200px;
}

/* STYLING FOR FEATURES PAGE SECTION */

.feature_page {
  /* border: 2px solid red; */
  background-color: #f9f9f6;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 2rem 0rem; */
  padding: 8% 10%;
}
.feature_page_container {
  /* border: 2px solid orangered; */
  width: 100%;
}

.feature_page h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  padding: 0rem 0rem 3rem 0rem;
}
.features_box {
  /* border: 2px solid blue; */
  display: flex;
  /* align-items: center; */
  /* justify-content: space-around; */
  /* flex-wrap: wrap; */
  /* min-width: 100%; */
  /* width: 500px; */
  /* height: 500px; */
  overflow: scroll;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}

.features_box .dash {
  font-size: 1.2em;
  margin: 0.2em;
  margin-top: 36px;
  min-width: 40px;
}

.feature_box_item {
  /* border: 2px solid red; */
  min-width: 168px;
  width: 166px;
  height: 200px;
  /* width: 17%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.feature_box_item h4 {
  text-align: center;
  margin-top: 1rem;
  letter-spacing: 0.04em;
}
.feature_box_item p {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}
.feature_box_item img {
  height: 4em;
}

/* STYLING FOR THE OUTDOOR PAGE SECTION */

.outdoor_page {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--greyshade);
}
.item_left_box {
  /* border: 2px solid red; */
  /* max-height: 300px; */
  flex: 1.2;
}
.item_left_box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-height: 500px;
}
.item_right_box {
  /* border: 2px solid red; */
  height: 100%;

  flex: 1;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--greyshade);
}

.item_right_box h2 {
  /* margin-top: 0.8rem; */
  font-size: 2.5rem;
  font-weight: 500;
}
.item_right_box p,
.item_right_box .outdoor_btn {
  margin-top: 1.5rem;
  font-size: 0.9rem;
}
.outdoor_btn {
  display: flex;
  align-items: center;
}

/* STYLING FOR CONTACT PAGE SECTION */
*:focus {
  outline: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.contact_page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/seacost.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0rem;
}
.contact_page_container {
  background-color: var(--primary_color);
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-size: 0.8rem;
}
.contact_page_container h2 {
  margin-bottom: 0.5rem;
}
.contact_page_container p {
  margin-top: 1rem;
  font-size: 0.9rem;
}
form {
  width: 100%;
}
.mail_box {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mail_item_left,
.mail_item_right {
  width: 45%;
}

.mail_item_left input,
.mail_item_right input {
  border: 2px solid var(--greyshadeborder);
  display: inline-block;
  height: 40px;
  width: 100%;
}
.mail_item_left input,
.mail_item_right input:placeholder-shown {
  padding-left: 1rem;
  font-size: 0.8rem;
}
.paragraph_input_box textarea:focus,
input:focus {
  outline: none;
  resize: none;
  overflow-y: hidden;
  overflow-x: hidden;
}
.paragraph_input_box textarea {
  border: 2px solid var(--greyshadeborder);
  margin-top: 1rem;
  resize: none;
  width: 100%;
  height: 100%;
}
.paragraph_input_box textarea:placeholder-shown {
  padding: 1rem;
  font-size: 0.8rem;
}
.terms {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.check_box a {
  text-decoration: underline;
  color: var(--secondary_color);
}

.submit_btn {
  width: 40%;
}

/* STYLING FOR FOOTER SECTION */

footer {
  /* height: 50vh; */
  /* border: 2px solid red; */
  padding: 5% 8%;
  background-color: #041334;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 0.8rem;
  color: var(--primary_color);
}

.footer_child {
  /* border: 2px solid yellow; */
  /* width: 22vw; */
  height: 60%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.footer_child h4 {
  font-size: 1rem;
  padding: 0.8rem 0rem;
}
.footer_child img {
  height: 1.5rem;
  color: var(--primary_color);
}
.footer_child_1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
/* .footer_child_1 .img_box {
  border: 2px solid greenyellow;
} */
.footer_child_1 img {
  height: 7rem;
  width: auto;
}

.tick_infos {
  display: flex;
  align-items: center;
  padding: 0.3rem 0.1rem;
  /* justify-content: space-around; */
}
.tick_infos p,
.contact_infos p {
  margin-left: 0.5rem;
  font-size: 0.9rem;
}
.contact_infos {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.1rem;
}

.footer_child_3 p {
  padding: 0.3rem 0.1rem;
  font-size: 0.9rem;
}
/* MEDIAQUERIES */

@media only screen and (max-width: 1024px) {
  /* FOR HOMEPAGESECTION */

  /* utility */
  .padding_left {
    padding-left: 10%;
  }

  /* utility closed */

  .navbar {
    font-size: 1.2rem;
    padding: 0% 5%;
  }
  .navbar_left {
    flex: 0.5;
    justify-content: center;
  }
  .navbar_left a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar_left img {
    height: 50%;
    width: 50%;
    border: 1px solid black;
    object-fit: cover;
  }
  .navbar_middle {
    flex: 3;
  }
  .navbar_right {
    flex: 1;
  }

  /* FOR HERO CONTAINER */

  .hero_container {
    font-size: 1.8rem;
  }

  .hero_container p {
    margin-top: 0.5rem;
    width: 84%;

    padding: 1% 0% 1% 10%;
  }
  .hero_container h1 {
    margin-top: 2rem;
    width: 65%;
    font-size: 3rem;
  }

  .hero_btn_container {
    width: 95%;
    /* font-size: 1.2rem; */
    /* flex-wrap: wrap; */
  }

  /* FOR CARDPAGE */
  .card_page_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  /* STYLING FOR FEATURES PAGE SECTION */

  .feature_box_item {
    margin: 0.5rem;
  }

  /* FOR OUTDOOR PAGE */

  .outdoor_page .item_right_box {
    padding: 3rem 3rem;
  }

  .item_right_box p,
  .item_right_box .outdoor_btn {
    /* margin-top: unset; */
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  /* utility */
  .padding_left {
    padding-left: 10%;
  }

  /* utility closed */

  .navbar {
    font-size: 1rem;
    padding: 0% 5%;
  }

  /* FOR HERO CONTAINER */

  .hero_container {
    font-size: 1.5rem;
  }

  .hero_container p {
    margin-top: 0.5rem;
    width: 80%;
    padding: 1% 0% 1% 10%;
  }
  .hero_container h1 {
    margin-top: 2rem;
    width: 75%;
    font-size: 3rem;
  }

  .hero_btn_container {
    width: 95%;
    /* font-size: 1.2rem; */
  }
}

@media only screen and (max-width: 700px) {

}
@media only screen and (max-width: 500px) {
  /* utility */
  .padding_left {
    padding-left: 2rem;
  }

  /* utility closed */

  .navbar {
    font-size: 1rem;
  }
  .menubar {
    display: block;
  }
  .menubar img{
    height: 2rem;
  }

  .navbar_left {
    display: none;
  }
  .navbar_middle {
    display: none;
  }

  /* .navbar_right {
    display: none;
  } */

  /* FOR HERO CONTAINER */

  .hero_container {
    font-size: unset;
  }

  .hero_container p {
    margin-top: unset;
    width: 90%;
  }
  .hero_container h1 {
    margin-top: unset;
    width: 90%;
    font-size: 1.5rem;
  }

  .hero_btn_container {
    width: 80%;
    font-size: 0.7rem;
  }
}
