* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_color: #fff;
  --secondary_color: #000;
  --btnbgcolor: #fc873f;
  --mobilefont: 0.7rem;
  --greyshade: #f1f0e9;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

/* utility classes */
a {
  list-style: none;
  text-decoration: none;
  border: none;
  color: var(--primary_color);
  display: inline-block;
}
.btn_large {
  text-decoration: none;
  padding: 0.5rem;
  color: var(--primary_color);
  vertical-align: middle;
  background-color: var(--btnbgcolor);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
.btn_large:hover,
.btn_small:hover {
  transition: background-color 1s;
  cursor: pointer;
  opacity: 0.8;
}

.btn_small {
  text-decoration: none;
  padding: 0.5rem;
  color: var(--primary_color);
  vertical-align: middle;
  background-color: var(--btnbgcolor);
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--btnbgcolor);
  font-size: 0.8rem;
}

span {
  font-size: 2rem;
  font-weight: 300;
}
.span_bold {
  font-weight: 600;
  font-size: 2rem;
}

/* UTILITY CLASSES CLOSED */

/* STYLING FOR HERO PAGE SECTION */

.hero_page {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/seasship.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  height: 15%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.navbar_left {
  height: 80%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar_left img {
  height: 50%;
  width: 50%;
  object-fit: cover;
}
.navbar_middle {
  height: 80%;
  flex: 3;
  display: flex;
  align-items: center;
}
.navbar_middle ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  flex-wrap: wrap;
}
.navbar_right {
  height: 80%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* STYLING FOR HERO CONTAINER */
/* utility class for hero container */

.padding_left {
  padding-left: 7rem;
}
/* utility class for hero container closed */

.hero_container {
  height: 85%;
  color: var(--primary_color);
  display: flex;
  align-items: center;
}

.hero_container p {
  width: 45%;
}
.hero_container h1 {
  width: 50%;
}

.hero_btn_container {
  width: 45%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn_secondary {
  border: 1px solid #e9ebeb;
  margin-left: 1rem;
  background: transparent;
}

/* STYLING FOR CARDPAGE SECTION */

/* utility class for cardpage section */

.card_page_utility_padding {
  padding: 0rem 1rem;
}

/* utility class for cardpage section closed */

.card_page_container {
  margin-top: 0rem;
  /* padding-top: 2rem; */
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/seawater.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.card_page_container_description_container {
  width: 60%;
  margin: 0rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--primary_color);
}
.card_page_container_description_container h2 {
  margin-bottom: 1rem;
}
.card_page_container_description_container p {
  font-size: 0.8rem;
}

.card_container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cards {
  height: 60vh;
  width: 26vw;
  /* border: 2px solid blue; */
  padding: 1rem 1rem 0rem 1rem;
  background-color: var(--primary_color);
}

.cards p {
  font-size: 0.8rem;

  /* letter-spacing: 0.5; */
}
.image_container {
  height: 40%;
  width: 100%;
}
.image_container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cards h4 {
  text-align: center;
  padding: 1rem 0rem;
}
.cards p {
  text-align: center;
  padding: 0rem 0rem 1rem 0rem;
}
.cards .btn_small {
  padding: 0.5rem 2rem;
}
.card_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

/* STYLING FOR THE PILOT PAGE SECTION */

.outdoor_page {
  height: 66vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.item_left_box {
  height: 100%;
  flex: 1.2;
}
.item_left_box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.item_right_box {
  height: 100%;
  flex: 1;
  padding: 4rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--greyshade);
}

.item_right_box h2 {
  margin-top: 0.8rem;
}
.item_right_box p,
.item_right_box .outdoor_btn {
  margin-top: 1rem;
  font-size: 0.8rem;
}
.outdoor_btn {
  display: flex;
  align-items: center;
}

/* MEDIAQUERIES */

@media only screen and (max-width: 1024px) {
  /* FOR HOMEPAGESECTION */

  .navbar {
    font-size: 1.2rem;
  }
  .navbar_left {
    flex: 0.5;
    justify-content: center;
  }
  .navbar_left a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar_left img {
    height: 50%;
    width: 50%;
    border: 1px solid black;
    object-fit: cover;
  }
  .navbar_middle {
    flex: 3;
  }
  .navbar_right {
    flex: 1;
  }

  /* FOR HERO CONTAINER */

  .hero_container {
    font-size: 1.8rem;
  }

  .hero_container p {
    margin-top: 0.5rem;
    width: 70%;
  }
  .hero_container h1 {
    margin-top: 2rem;
    width: 65%;
    font-size: 3rem;
  }

  .hero_btn_container {
    width: 55%;
    /* font-size: 1.2rem; */
    /* flex-wrap: wrap; */
  }

  /* FOR CARDPAGE */
  .card_page_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .cards {
    height: 32vh;
    width: 26vw;
    padding: 1rem 1rem 0rem 1rem;
  }


/* FOR PILOTS PAGE */



.outdoor_page{
  height: 48vh;
}

.outdoor_page .item_right_box{
  padding: 3rem 3rem;
}

.item_right_box h2 {
  margin-top: unset;
}
.item_right_box p,
.item_right_box .outdoor_btn {

  margin-top: unset;
  font-size: 1rem;
}

}

@media only screen and (max-width: 768px) {
  /* utility */
  .padding_left {
    padding-left: 5rem;
  }

  /* utility closed */

  .navbar {
    font-size: 1rem;
  }

  /* FOR HERO CONTAINER */

  .hero_container {
    font-size: 1.5rem;
  }

  .hero_container p {
    margin-top: 0.5rem;
    width: 80%;
  }
  .hero_container h1 {
    margin-top: 2rem;
    width: 75%;
    font-size: 3rem;
  }

  .hero_btn_container {
    width: 55%;
    /* font-size: 1.2rem; */
  }
}

@media only screen and (max-width: 500px) {
  /* utility */
  .padding_left {
    padding-left: 2rem;
  }

  /* utility closed */

  .navbar {
    font-size: 1rem;
  }

  /* FOR HERO CONTAINER */

  .hero_container {
    font-size: unset;
  }

  .hero_container p {
    margin-top: unset;
    width: 90%;
  }
  .hero_container h1 {
    margin-top: unset;
    width: 90%;
    font-size: 1.5rem;
  }

  .hero_btn_container {
    width: 80%;
    font-size: 0.7rem;
  }
}
